{% extends 'Groups/base.html' %}

{% block title %}
Groups
{% endblock  %}

{% block content %}
<table style="width:1200px; margin-left:200px; margin-top:75px" class="table">
  <thead>
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Faculty</th>
      <th scope="col">Students</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for group in groups %}
    <tr class="table-light">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{group.name}}</td>
      <td>{{group.faculty}}</td>
      <td><a href="{{group.get_absolute_url}}">Students</a></td>
      <td><a href="{{group.get_update_url}}">Update</a></td>
      <td><a href="{{group.get_delete_url}}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}